<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>
<h2>Products</h2>

<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top" %></li>
  <% end %>
</ul>

<hr>

<!-- ORDER DETAILS -->
<h2>Orders</h2>

<% @orders.each do |order| %>
  <p>Invoice #<%= order.name %></p>
  <p>Description: <%= order.line_items.first.name %></p>
  <p>Total amount: <%= order.total_price %> <%= order.currency %></p>
  <p>Orders status: <%= order.financial_status %></p>
  <p>Created on: <%= order.created_at %></p>
  <hr>
<% end %>

<!-- CUSTOMERS' DETAILS -->
<h2>Customers</h2>

<% @customers.each do |customer| %>
  <p>Full Name: <%= customer.first_name %> <%= customer.last_name %></p>
  <p>Phone: <%= customer.phone %> </p>
  <p>Address: <%= customer.addresses.first.address1 %></p>
  <p>City: <%= customer.addresses.first.province %></p>
  <hr>
<% end %>

<h2>Backpacks profit evolution</h2>

<%= line_chart @data %>
<% raise %>

<%# raise %>
<!-- @orders.group_by_hour_of_day(&:created_at).values.flatten.map(&:created_at).map(&:to_time) RENVOIE LES DATES-->
<%#= column_chart @orders.group_by_hour_of_day(&:created_at).values.flatten.map(&:total_price).map(&:to_f), xtitle: "Hour of the day", ytitle: "Profit in AED" %>
<%# raise %>
<!-- .sum("total_price") -->
<h2>Webhooks</h2>

<% if @webhooks.present? %>
  <ul>
    <% @webhooks.each do |webhook| %>
      <li><%= webhook.topic %> : <%= webhook.address %></li>
    <% end %>
  </ul>
<% else %>
  <p>This app has not created any webhooks for this Shop. Add webhooks to your ShopifyApp initializer if you need webhooks</p>
<% end %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
